.image {
  width: 300px;
  padding-bottom: 5px;
  }/* add your CSS here */
.interesting {
  font-style: italic;
}
span {
  font-weight: bold;
}
ul{
  list-style-type: none;
}
body {
  width: 300px;
  padding: 5px 10px 5px 10px;
  border: 1px solid gray;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.1);

}
.information{
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
}
